<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>쪽지함</title>
    <link rel="stylesheet" href="/css/home/message.css" />
    <!-- 외부 CSS 파일을 링크 -->
  </head>
  <body>
    <div class="header">
      <a href="/login" class="logo">NGDB</a>
    </div>

    <div class="separator"></div>

    <div class="container">
      <div class="form-title">내 쪽지 리스트</div>
      <ul class="message-list">
        <% if (messages.length > 0) { %>
          <% messages.forEach(function(message) { %>
            <li class="message-item">
              <p class="message-title"><%= message.postnum %></p>
              <p class="message-title">보낸 사람: <%= message.sender %></p>
              <p>받는 사람: <%= message.reciper %></p>
              <p class="message-time">보낸 시간: <%= message.created_at %></p>
              <div class="message-actions">
                <form method="get" action="/message_chat">
                  <input type="hidden" name="roomid" value="<%= message.roomid %>" />
                  <button type="submit" class="button-view">보기</button>
                </form>
                <button class="button-delete" onclick="deleteMessagesByRoom('<%= message.roomid %>')">
                  삭제</button>
              </div>
            </li>
          <% }); %>
        <% } else { %>
          <li class="message-item">받은 쪽지가 없습니다.</li>
        <% } %>
      </ul>
    </div>
  </body>
  <script>
    function deleteMessagesByRoom(roomId) {
    if (confirm("정말로 이 Room의 메시지를 모두 삭제하시겠습니까?")) {
      fetch(`/messages/room/${roomId}`, {
        method: "DELETE",
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            document.getElementById(`room-${roomId}`).remove();
          } else {
            alert(data.message || "Room 메시지 삭제에 실패했습니다.");
          }
        })
        .catch((error) => {
          console.error("Error:", error);
          alert("오류가 발생했습니다. 다시 시도해주세요.");
        });
    }
  }
  </script>
</html>
